install
text
reboot
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --plaintext vagrant
user --name=vagrant --password=vagrant --plaintext
zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --timeout=1

%packages --excludeWeakdeps
@core
kernel-core
systemd-udev
which
-firewalld
-kernel
-NetworkManager
-plymouth
%end

%post --erroronfail
dnf -y update

cat <<EOF > /etc/sudoers.d/vagrant
Defaults:vagrant !requiretty
vagrant ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/vagrant

mkdir -p /etc/systemd/network
ln -sf /dev/null /etc/systemd/network/99-default.link

cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<EOF
BOOTPROTO=dhcp
DEVICE=eth0
ONBOOT=yes
EOF

cat > /etc/sysconfig/network <<EOF
DEVTIMEOUT=10
NOZEROCONF=yes
EOF

# Enabling network service in the services line causes the installer to crash
# https://bugzilla.redhat.com/show_bug.cgi?id=1369794
chkconfig network on
%end
